@import url('https://fonts.googleapis.com/css2?family=Homenaje&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Quick CSS reset rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* theme */
:root {
  --palette-1: #ffe281;
  --palette-2: #94dfff;
  --palette-3: #90ffae;
  --palette-4: #E7BEE9;
  --palette-5: #F2D7D7;

  --palette-1: #ffc09f;
  --palette-2: #ffee93;
  --palette-3: #fcf5c7;
  --palette-4: #a0ced9;
  --palette-5: #adf7b6;

  --palette-1: #809bce;
  --palette-2: #95b8d1;
  --palette-3: #b8e0d2;
  --palette-4: #d6eadf;
  --palette-5: #eac4d5;

  --palette-1: #e8dff5;
  --palette-2: #fce1e4;
  --palette-3: #fcf4dd;
  --palette-4: #ddedea;
  --palette-5: #daeaf6;

  --palette-action: #008cff;
  --palette-action-hover: #0077e6;
  --palette-action-active: #0063cc;

  --grayscale-0: #ffffff;
  --grayscale-1: #f9fafb;
  --grayscale-2: #f3f4f6;
  --grayscale-3: #e5e7eb;
  --grayscale-4: #d1d5db;
  --grayscale-5: #9ca3af;
  --grayscale-6: #4b5563;
  --grayscale-7: #374151;
  --grayscale-8: #1f2937;
  --grayscale-9: #000000;

  --pt-palette-main: #ed755f;
  --pt-palette-contrast: #fadfd7;
  --pt-palette-background: #fffbf6;
  --pt-palette-other: #e8f4f1;
}

/* body */
body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--pt-palette-background);
}

/* layout */
.flex {
  display: flex;
}
.flex.column {
  flex-direction: column;
}
.flex.center {
  justify-content: center;
  align-items: center;
}
.flex.center-vertical { align-items: center; }
.flex.space-between { justify-content: space-between; }
.flex.wrap { flex-wrap: wrap; }
.flex.gap-xxs { gap: 4px; }
.flex.gap-xs { gap: 8px; }
.flex.gap-sm { gap: 16px; }
.flex.gap-md { gap: 32px; }
.flex.gap-lg { gap: 64px; }
.flex.gap-xl { gap: 128px; }
.padding-xxxs { padding: 2px; }
.padding-xxs { padding: 4px; }
.padding-xs { padding: 8px; }
.padding-sm { padding: 16px; }
.padding-md { padding: 32px; }
.padding-lg { padding: 64px; }
.padding-xl { padding: 128px; }
.padding-top-bottom-xxxs { padding-top: 2px; padding-bottom: 2px; }
.padding-top-bottom-xxs { padding-top: 4px; padding-bottom: 4px; }
.padding-top-bottom-xs { padding-top: 8px; padding-bottom: 8px; }
.padding-top-bottom-sm { padding-top: 16px; padding-bottom: 16px; }
.padding-top-bottom-md { padding-top: 32px; padding-bottom: 32px; }
.padding-top-bottom-lg { padding-top: 64px; padding-bottom: 64px; }
.padding-top-bottom-xl { padding-top: 128px; padding-bottom: 128px; }
.padding-left-right-xxxs { padding-left: 2px; padding-right: 2px; }
.padding-left-right-xxs { padding-left: 4px; padding-right: 4px; }
.padding-left-right-xs { padding-left: 8px; padding-right: 8px; }
.padding-left-right-sm { padding-left: 16px; padding-right: 16px; }
.padding-left-right-md { padding-left: 32px; padding-right: 32px; }
.padding-left-right-lg { padding-left: 64px; padding-right: 64px; }
.padding-left-right-xl { padding-left: 128px; padding-right: 128px; }
.width-xs { width: 8%; }
.width-sm { width: 16%; }
.width-md { width: 32%; }
.width-lg { width: 64%; }
.width-xl { width: 96%; }
.width-full { width: 100%; }
.horizontal-line { border-top: 1px solid var(--grayscale-4); }
.vertical-line { border-left: 1px solid var(--grayscale-4); }
.highlight { background-color: rgba(255, 255, 255, 0.3); }
.position-absolute { position: absolute; }

/* colours */
.color-main { color: var(--pt-palette-main); }
.color-contrast { color: var(--pt-palette-contrast); }
.color-background { color: var(--pt-palette-background); }
.color-other { color: var(--pt-palette-other); }
.background-main { background-color: var(--pt-palette-main); }
.background-contrast { background-color: var(--pt-palette-contrast); }
.background-background { background-color: var(--pt-palette-background); }
.background-other { background-color: var(--pt-palette-other); }

/* app bar */
.app-bar {
  background-color: var(--pt-palette-main);
}
.appBarUserCircle {
  width: 32px;
  height: 32px;
  cursor: pointer;
  color: var(--grayscale-8);
  background-color: var(--pt-palette-contrast);
}

/* form */
.text-input {
  border: 1px solid var(--grayscale-6);
  border-radius: 2px;
}
.text-input2 {
  font-size: inherit;
  border: none;
  background-color: transparent;
  border-bottom: 2px dashed var(--grayscale-8);
  border-bottom: 2px solid var(--grayscale-8);
}
.action-element {
  cursor: pointer;
  background-color: var(--pt-palette-main);
  color: var(--grayscale-0);
}
.action-element:hover {
  background-color: var(--palette-action-hover);
}
.action-element:active {
  background-color: var(--palette-action-active);
}
.modal-form-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
}
.modal-form-children {
  width: 100%;
  background-color: var(--pt-palette-background);
  background-color: var(--grayscale-0);
  background-color: rgb(255,255,255);
  box-shadow: 0 0 8px 4px rgba(100, 100, 100, 0.3);
}
.modal-form-children.top {
  position: fixed;
  top: 0;
}
.modal-form-children.bottom {
  position: fixed;
  bottom: 0;
}

/* circle */
.circle {
  border-radius: 50%;
}
.circle.size-xs { width: 16px; height: 16px; }
.circle.size-sm { width: 32px; height: 32px; }
.circle.size-md { width: 64px; height: 64px; }
.circle.size-lg { width: 128px; height: 128px; }
.circle.size-xl { width: 256px; height: 256px; }

/* card */
.card {
  border-radius: 4px;
  border: 1px solid #ffffff;
}
.card:nth-child(5n+1) {
  background-color: var(--palette-1);
}
.card:nth-child(5n+2) {
  background-color: var(--palette-2);
}
.card:nth-child(5n+3) {
  background-color: var(--palette-3);
}
.card:nth-child(5n+4) {
  background-color: var(--palette-4);
}
.card:nth-child(5n) {
  background-color: var(--palette-5);
}

/* typography */
.text.bold { font-weight: bold; }
.text.size-xxxs { font-size: 7px; }
.text.size-xxs { font-size: 8px; }
.text.size-xs { font-size: 10px; }
.text.size-sm { font-size: 12px; }
.text.size-md { font-size: 14px; }
.text.size-lg { font-size: 16px; }
.text.size-xl { font-size: 20px; }
.text.size-xxl { font-size: 24px; }
.text.size-xxxl { font-size: 32px; }
.text.center { text-align: center; }
.text.line-height-xxxs { line-height: 0.6em; }
.text.line-height-xxs { line-height: 0.8em; }
.text.line-height-xs { line-height: 1em; }
.text.line-height-sm { line-height: 1.2em; }
.text.line-height-md { line-height: 1.4em; }
.text.line-height-lg { line-height: 1.8em; }
.text.line-height-xl { line-height: 2.4em; }
.text.color-main { color: var(--pt-palette-main); }
.text.color-contrast { color: var(--pt-palette-contrast); }
.text.color-background { color: var(--pt-palette-background); }
.text.color-other { color: var(--pt-palette-other); }

/* emoji */
.emojiInput {
  cursor: pointer;
}
.emojiInput:hover .emojiPicker {
  display: flex;
}
.emojiPicker {
  display: none;
  width: 320px;
  position: relative;
}
.emojiOption {
  cursor: pointer;
}
.emojiOption:hover {
  background-color: rgb(255, 255, 255);
}

/* test */
.test {
  border: 2px dotted red;
  background-color: rgba(70, 70, 70, 0.3);
}